[run]
include = ${TOP}/mike/*
parallel = True
branch = True

[paths]
source =
  mike/
  /usr/local/lib/*/site-packages/mike/

[report]
exclude_lines =
  pragma: no cover
  raise NotImplementedError
  return NotImplemented
  def __repr__
